#textWrapperBox{
    display: flex;
    overflow: hidden;
    width: 30%;
    height: 40px;
    border: 2px solid;
    align-items: center; /*Vertically aligning text*/
}

#text {
    white-space: nowrap;
}