#textAndTimeRendering{
    text-align: center;
    overflow: hidden;
    width: 40%;
    margin:auto;
    /*border: 2px solid;*/
}

#highScore {
	float: right;
}

#highScoreButtons{
  
}

.circleContainer{
  position: absolute;
  top:50px;
}

.circleContainer::before{
    content: '';
    position: absolute;
    top: 210px;
    left: 0px; /*Extend the line 25px to the left*/
    right: -100px; /* Extend the line 25px to the right */
    height: 2px; /* Thickness of the line */
    background-color: red; /* Color of the line */
    z-index: -1; /* Ensure the line is behind the circle */
}

/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}*/
